*.iml
/.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-contrib/2.2.2/aidl/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-contrib/2.2.2/assets/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-contrib/2.2.2/res/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/aidl/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/assets/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/res/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/aidl/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/assets/
app/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/res/
app/build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/aidl/
app/build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/assets/
app/build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/res/
app/build/intermediates/exploded-aar/com.android.support.test/rules/0.5/aidl/
app/build/intermediates/exploded-aar/com.android.support.test/rules/0.5/assets/
app/build/intermediates/exploded-aar/com.android.support.test/runner/0.5/aidl/
app/build/intermediates/exploded-aar/com.android.support.test/runner/0.5/assets/
app/build/intermediates/exploded-aar/com.android.support.test/runner/0.5/res/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.0.0-beta1/aidl/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.0.0-beta1/assets/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.0.0-beta1/jni/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.0.0-beta1/libs/
app/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.0.0-beta1/res/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.0.0-beta1/aidl/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.0.0-beta1/assets/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.0.0-beta1/jni/
app/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.0.0-beta1/libs/
app/build/intermediates/exploded-aar/com.android.support/design/24.0.0-beta1/aidl/
app/build/intermediates/exploded-aar/com.android.support/design/24.0.0-beta1/assets/
app/build/intermediates/exploded-aar/com.android.support/design/24.0.0-beta1/jni/
app/build/intermediates/exploded-aar/com.android.support/design/24.0.0-beta1/libs/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.0.0-beta1/aidl/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.0.0-beta1/assets/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.0.0-beta1/jni/
app/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/24.0.0-beta1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.0.0-beta1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.0.0-beta1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.0.0-beta1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-v4/24.0.0-beta1/res/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.0.0-beta1/aidl/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.0.0-beta1/assets/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.0.0-beta1/jni/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.0.0-beta1/libs/
app/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.0.0-beta1/res/
app/build/intermediates/exploded-aar/com.jakewharton/butterknife/8.0.1/aidl/
app/build/intermediates/exploded-aar/com.jakewharton/butterknife/8.0.1/assets/
app/build/intermediates/exploded-aar/com.jakewharton/butterknife/8.0.1/jni/
app/build/intermediates/exploded-aar/com.jakewharton/butterknife/8.0.1/libs/
app/build/intermediates/exploded-aar/com.jakewharton/butterknife/8.0.1/res/
app/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.0/aidl/
app/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.0/assets/
app/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.0/jni/
app/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.0/libs/
app/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.0/res/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/reload-dex/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/transforms/extractJars/
app/build/intermediates/transforms/mergeJniLibs/
app/build/tmp/
gen/

